.additional-products__title {
  color: $color-black-font;
  font-size: 24px;
  line-height: 24px;
}

.additional-products__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.additional-products__item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $color-grey-border;
  padding-bottom: 20px;
}
