.advantages__list {
  @include reset-list;
}

.advantages__item {
  &::before,
  &::after {
    content: "";
    position: absolute;
  }
  margin-bottom: 30px;
  position: relative;
}

.advantages__wrapper-item {
  background-color: $color-bg-light-grey;
  padding: 30px 21px 14px 21px;
}

.advantages__title {
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  padding-left: 70px;
  margin: 0;
}

.advantages__description {
  color: $color-grey-font;
  font-family: $font-ArialMT;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid $color-grey-border;
  padding-top: 26px;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 20px;
}

.advantages__item--sit-before {
  &::before {
    width: 50px;
    height: 50px;
    background-color: $color-green-two;
    background-position: center;
    border-radius: 50%;
    top: 24px;
    left: 22px;
  }
}

.advantages__item--sit-after {
  &::after {
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 24px;
    left: 30px;
  }
}

.advantages__item--stand-before {
  &::before {
    width: 50px;
    height: 50px;
    background-color: $color-green-two;
    background-position: center;
    border-radius: 50%;
    top: 25px;
    left: 22px;
  }
}

.advantages__item--stand-after {
  &::after {
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 35px;
    left: 13px;
  }
}

.advantages__link {
  &::before {
    content: "";
    width: 25px;
    height: 12px;
    background: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: top center;
    top: 6px;
    right: -36px;
    position: absolute;
  }

  &:hover::before,
  &:focus::before {
    content: "";
    width: 34px;
    background: url("../img/icon-right-arrow-verylong.svg");
    top: 9px;
    right: -59px;
    position: absolute;
  }

  &:active {
    opacity: 0.3;
  }
  color: $color-black-font;
  line-height: 16px;
  text-transform: uppercase;
  position: relative;
}

@media (min-width: $tablet-width) {
  .advantages__title {
    font-size: 36px;
    line-height: 37px;
    padding-left: 0;
  }

  .advantages__description {
    margin: 0;
    padding-top: 26px;
    padding-right: 275px;
    padding-bottom: 57px;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  .advantages__description--weight {
    padding-right: 312px;
  }

  .advantages__item {
    &::after,
    &::before {
      content: "";
      position: absolute;
    }
  }

  .advantages__wrapper-item {
    background-color: $color-bg-light-grey;
    padding: 0;
    padding-top: 74px;
    padding-left: 52px;
    padding-bottom: 62px;
  }

  .advantages__item--sit-before {
    &::before {
      width: 200px;
      height: 200px;
      background-color: $color-green-two;
      background-position: center;
      top: 91px;
      left: auto;
      right: 62px;
    }
  }

  .advantages__item--sit-after {
    &::after {
      width: 141px;
      height: 194px;
      background-size: 100%;
      top: 78px;
      left: auto;
      right: 91px;
    }
  }

  .advantages__item--stand-before {
    &::before {
      width: 200px;
      height: 200px;
      top: 89px;
      left: auto;
      right: 61px;
    }
  }

  .advantages__item--stand-after {
    &::after {
      width: 268px;
      height: 113px;
      background-size: 100%;
      top: 132px;
      left: auto;
      right: 28px;
    }
  }

  .advantages__link {
    &::before {
      top: 9px;
      right: -48px;
    }
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding: 0;
    padding-top: 80px;
  }

  .advantages__list {
    margin: 0 -40px;
    display: flex;
  }

  .advantages__wrapper-item {
    background-color: $color-bg-light-grey;
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    width: 50%;
    margin: 0;
  }

  .advantages__title {
    padding-left: 162px;
    padding-bottom: 70px;
  }

  .advantages__description {
    padding: 0 0 32px 0;
  }

  .advantages__item--sit-before {
    &::before {
      width: 100px;
      height: 100px;
      background-color: $color-green-two;
      background-position: center;
      top: 54px;
      left: 92px;
    }
  }

  .advantages__item--sit-after {
    &::after {
      width: 71px;
      height: 97px;
      background-size: 100%;
      top: 50px;
      left: 100px;
    }
  }

  .advantages__item--stand-before {
    &::before {
      width: 100px;
      height: 100px;
      top: 54px;
      left: 92px;
    }
  }

  .advantages__item--stand-after {
    &::after {
      width: 134px;
      height: 57px;
      background-size: 100%;
      top: 75px;
      left: 75px;
    }
  }
}
