.advantages {
  padding: $padding-item;
}

.advantages__list {
  @include reset-list;
}

@media (min-width: $desktop-width) {
  .advantages__list {
    display: flex;
    justify-content: space-around;
    padding: 0 70px 0 70px;
  }
}

.advantages__item {
  &::before,
  &::after {
    content: "";
    position: absolute;
  }
  background-color: #f2f2f2;
  padding: 30px 21px 14px 30px;
  margin-bottom: 10px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .advantages__item {
    &::after,
    &::before {
      content: "";
      position: absolute;
    }
    padding: 0;
    padding-top: 80px;
    padding-left: 52px;
    padding-bottom: 62px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    padding: 80px 54px 62px 54px;
    /*смог выровнять только так, при этом съедаются паддинги самого списка*/
    min-width: 50%;
  }
}

.advantages__title {
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  padding-left: 70px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .advantages__title {
    font-size: 36px;
    line-height: 37px;
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .advantages__title {
    padding-left: 162px;
    padding-bottom: 70px;
  }
}

.advantages__description {
  color: $color-arial;
  font-family: $font-ArialMT;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .advantages__description {
    margin: 0;
    padding-top: 26px;
    padding-right: 275px;
    padding-bottom: 50px;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .advantages__description {
    padding: 0 0 32px 0;
  }
}

.advantages__item--sit-before {
  &::before {
    width: 50px;
    height: 50px;
    background-color: #5eaa2f;
    background-position: center;
    border-radius: 50px;
    top: 25px;
    left: 30px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item--sit-before {
    &::before {
      width: 200px;
      height: 200px;
      background-color: #5eaa2f;
      background-position: center;
      border-radius: 200px;
      top: 92px;
      left: auto;
      right: 62px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__item--sit-before {
    &::before {
      width: 100px;
      height: 100px;
      background-color: #5eaa2f;
      background-position: center;
      border-radius: 100px;
      top: 54px;
      left: 54px;
      right: auto;
    }
  }
}

.advantages__item--sit-after {
  &::after {
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 24px;
    left: 37px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item--sit-after {
    &::after {
      width: 141px;
      height: 194px;
      background-size: 100%;
      top: 92px;
      left: auto;
      right: 85px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__item--sit-after {
    &::after {
      width: 71px;
      height: 97px;
      background-size: 100%;
      top: 0;
      left: 0;
      right: auto;
    }
  }
}

.advantages__item--stand-before {
  &::before {
    width: 50px;
    height: 50px;
    background-color: #5eaa2f;
    background-position: center;
    border-radius: 50px;
    top: 25px;
    left: 30px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item--stand-before {
    &::before {
      width: 200px;
      height: 200px;
      border-radius: 200px;
      top: 92px;
      left: auto;
      right: 62px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__item--stand-before {
    &::before {
      width: 100px;
      height: 100px;
      border-radius: 100px;
      top: 0;
      left: 54px;
      right: auto;
    }
  }
}

.advantages__item--stand-after {
  &::after {
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 35px;
    left: 22px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item--stand-after {
    &::after {
      width: 268px;
      height: 113px;
      background-size: 100%;
      top: 140px;
      left: auto;
      right: 25px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__item--stand-after {
    &::after {
      width: 134px;
      height: 57px;
      background-size: 100%;
      top: 0;
      left: 0;
      right: auto;
    }
  }
}

.advantages__link {
  &::before {
    content: "";
    width: 25px;
    height: 12px;
    background: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: top center;
    top: 6px;
    right: -36px;
    position: absolute;
  }
  color: $color-oswald;
  line-height: 16px;
  text-transform: uppercase;
  position: relative;
}

@media (min-width: $tablet-width) {
  .advantages__link {
    &::before {
      top: 9px;
      right: -50px;
    }
    font-size: 20px;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    padding: 0;
  }
}
