.button {
  &:hover,
  &:focus {
    background-color: $color-bg-green;
  }

  &:active {
    color: $white30;
  }
  color: $color-white;
  background-color: $color-green-two;
  text-transform: uppercase;
}
