.collaboration__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-grey-focus;
  padding: 32px 20px 21px;
  position: relative;
  min-height: 113px;
  z-index: 3;
}

.collaboration {
  position: relative;
}

.collaboration__wrapper--index {
  background-color: $color-white;
}

.collaboration__title {
  color: $color-black-font;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  margin-right: auto;
  width: 50%;
}

.collaboration__address {
  color: $color-grey-font;
  font-family: $font-ArialMT;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  width: 50%;
}

.collaboration__map-img {
  position: relative;
  display: block;
  width: 320px;
  z-index: 0;
  margin: 0 auto;
  margin-top: -39px;
}

.collaboration__map-google {
  position: absolute;
  height: 361px;
  width: 100%;
  top: 113px;
  left: 0;
  z-index: 2;
}

@media (min-width: $tablet-width) {
  .collaboration {
    position: relative;
  }

  .collaboration__map-img {
    margin-top: 0;
    width: 768px;
  }

  .collaboration__map-google {
    height: 400px;
    top: 201px;
  }

  .collaboration__title {
    font-size: 20px;
    line-height: 25px;
    max-width: 155px;
    margin-left: 40px;
  }

  .collaboration__address {
    font-size: 16px;
    text-align: right;
    display: flex;
    flex-direction: column;
    max-width: 160px;
    margin-right: 40px;
  }

  .collaboration__address--city {
    padding-top: 10px;
  }

  .collaboration__wrapper {
    padding: 65px 30px 60px;
    background-color: $color-bg-light-grey;
  }

  .collaboration__wrapper--index {
    background-color: $color-white;
  }
}

@media (min-width: $desktop-width) {
  .collaboration {
    position: relative;
  }

  .collaboration__wrapper-container {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

  .collaboration__map-img {
    width: 1440px;
  }

  .collaboration__map-google {
    height: 400px;
    top: 0;
  }

  .collaboration__wrapper {
    position: absolute;
    width: 570px;
    height: 201px;
    top: 95px;
    left: 90px;
    background-color: $color-white;
    z-index: 2;
    padding: 75px 60px 90px;
  }

  .collaboration__title {
    font-size: 20px;
    line-height: 25px;
    margin: 0;
  }

  .collaboration__address {
    margin: 0;
  }

  .collaboration__address--city {
    padding-top: 15px;
  }
}
