.collaboration__wrapper {
  display: flex;
  justify-content: space-between;
}

.collaboration__title {
  color: $color-black-font;
  font-size: 16px;
  line-height: 20px;
}

.collaboration__address {
  color: $color-black-font;
  font-family: $font-ArialMT;
  font-size: 14px;
  line-height: 20px;
}
