.container {
  width: 100%;
  padding: 0 6.25%;
  position: relative;
}

.container--mobile {
  margin: 0 auto;
  width: 100%;
  padding: 0;
  position: relative;
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 3.9%;
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding: 0 7.6%;
  }
}
