.example {
  background-color: $color-bg-light-grey;
}

.example__title {
  color: $color-black-font;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  padding-top: 10px;
  margin-bottom: 23px;
}

.example__description {
  color: $color-grey-font;
  font-family: $font-ArialMT;
  font-size: 14px;
  line-height: 18px;
  padding-right: 10px;
  margin-bottom: 23px;
}

.example__illustration-list {
  @include reset-list;
  display: flex;
  margin: 0 -15px;
  position: relative;
  padding-bottom: 18px;
}

.example__illustration-item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 14px;
}

.example__illustration-value {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid $color-pinkish-grey;
  border-radius: 3px;
  margin: 0;
}

.example__illustration-value--border-weight {
  padding: 13px 43px 20px;
}

.example__illustration-value--border-day {
  padding: 13px 22px 20px;
}

.example__illustration-description {
  color: $color-grey-font;
  font-family: $font-ArialMT;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: $color-bg-light-grey;
  position: absolute;
  border-bottom: 0;
  left: 4px;
  bottom: -13px;
  padding: 0 3px;
  margin: 0 25px;
}

.example__illustration-description--weight {
  margin: 0 31px;
}

.example__illustration-price {
  display: flex;
  font-size: 14px;
  padding-left: 50px;
  margin-bottom: 40px;
  color: $color-black-font;
  text-transform: uppercase;
}

.example__illustration-price--value {
  padding-left: 3px;
}

.example__illustration-button {
  border-style: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: inherit;
  padding: 0;
  cursor: pointer;
}

.example__slider-item {
  margin: 0 -20px;
}

.example__slider-item--img {
  display: flex;
  justify-content: center;
}

.example__img-slim {
  width: 311px;
}

.example__img-pro {
  display: none;
}

.example__slider-list {
  @include reset-list;
}

.example__illustration-scale {
  position: relative;
  display: flex;
  align-items: center;
}

.example__illustration-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 37px;
}

.example__illustration-bar {
  &::after {
    content: "";
    width: 35px;
    height: 6px;
    background-color: $color-green-two;
    border-radius: 3px;
    position: absolute;
    top: 3px;
    left: 6px;
    z-index: 2;
  }
  font-size: 0;
  margin: 0 17px;
  width: 84px;
  height: 14px;
  background-color: $color-white;
  border: 1px solid $color-pinkish-grey;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .example {
    background: none;
    background-image: linear-gradient(to top, $color-bg-light-grey 43%, transparent 43%);
    border-top: 1px solid $color-grey-focus;
    margin-top: -30px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    padding-top: 44px;
    padding-bottom: 50px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 51px;
  }

  .example__value-wrapper {
    display: flex;
    padding-bottom: 84px;
  }

  .example__illustration-list {
    margin: 0 -20px;
    margin-right: auto;
    display: flex;
  }

  .example__illustration-item {
    padding: 0 20px;
  }

  .example__illustration-price {
    flex-direction: column;
    text-align: right;
    margin: 0;
    padding-top: 10px;
    padding-left: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .example__illustration-price--value {
    padding-top: 11px;
  }

  .example__illustration-value {
    font-size: 30px;
  }

  .example__illustration-description {
    font-size: 14px;
    padding: 0 5px;
    margin: 0 30px;
    bottom: -4px;
    background-color: $color-white;
  }

  .example__illustration-description--weight {
    margin: 0 45px;
  }

  .example__illustration-value--border-weight {
    padding: 23px 56px;
  }

  .example__illustration-value--border-day {
    padding: 24px 30px;
  }

  .example__img-slim {
    height: 499px;
    width: auto;
  }

  .example__illustration-scale {
    &::after {
      content: "";
      width: 428px;
      height: 6px;
      background-color: $color-scale-grey;
      border-radius: 2.5px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }
    width: 428px;
  }

  .example__illustration-bar {
    &::after {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover,
    &:focus {
      box-shadow: 0 2px 4px $color-radio-border;
      outline: none;
    }

    &:active {
      border: 2px solid $color-green-two;
      box-shadow: 0 3px 5px $color-radio-border;
      outline: none;
    }
    margin: 0;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 1px 3px $color-radio-border;
  }

  .example__illustration-toggle {
    padding-top: 15px;
    padding-bottom: 64px;
  }

  .example__illustration-button {
    &:hover,
    &:focus {
      border-bottom: 1px solid $color-pinkish-grey;
    }

    &:active {
      border: none;
    }
    font-size: 20px;
    margin: 0 25px;
    padding-bottom: 5px;
    border-bottom: 1px dotted $color-pinkish-grey;
    outline: none;
  }

  .example__slider-list {
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .example {
    background-image: linear-gradient(to top, $color-bg-light-grey 75%, transparent 75%);
    border: none;
  }

  .example__title {
    padding-top: 23px;
    padding-bottom: 103px;
  }

  .example__wrapper {
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding-bottom: 63px;
  }

  .example__value-wrapper {
    flex-direction: column;
    padding-bottom: 10px;
  }

  .example__advantages-wrapper {
    width: 50%;
  }

  .example__illustration-list {
    padding-bottom: 60px;
  }

  .example__illustration-price {
    text-align: left;
    flex-direction: row;
    padding-top: 0;
  }

  .example__illustration-price--value {
    padding-top: 0;
    padding-left: 60px;
  }

  .example__illustration-description {
    padding: 0 8px;
    margin: 0 24px;
    background-color: $color-bg-light-grey;
  }

  .example__illustration-description--weight {
    margin: 0 42px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding-top: 47px;
    padding-right: 174px;
    padding-bottom: 65px;
  }

  .example__slider-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .example__img-slim {
    width: 100%;
    height: auto;
    padding-bottom: 35px;
    margin-left: -17px;
  }

  .example__illustration-toggle {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 40px;
  }

  .example__slider-list {
    padding-bottom: 0;
  }
}
