.example {
  background-color: #f2f2f2;
}

.example__title {
  color: $color-black-font;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
}

.example__description {
  color: $color-grey-font;
  font-family: $font-ArialMT;
  font-size: 14px;
  line-height: 18px;
}

.example__illustration-list {
  @include reset-list;
  display: flex;
  margin: 0 -15px;
  position: relative;
  padding-bottom: 40px;
}

.example__illustration-item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 15px;
}

.example__illustration-value {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  border: 1px solid $color-pinkish-grey;
  border-radius: 3px;
  margin: 0;
}

.example__illustration-value--border-weight {
  padding: 17px 44px;
}

.example__illustration-value--border-day {
  padding: 17px 24px;
}

.example__illustration-description {
  color: $color-grey-font;
  font-family: $font-ArialMT;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: $color-bg-light-grey;
  position: absolute;
  border-bottom: 0;
  left: 4px;
  bottom: -13px;
  padding: 0 3px;
  margin: 0 25px;
}

.example__illustration-description--weight {
  margin: 0 31px;
}

.example__illustration-price {
  display: flex;
  font-size: 14px;
  padding-left: 50px;
  color: $color-black-font;
  text-transform: uppercase;
}

.example__illustration-price--value {
  padding-left: 3px;
}

.example__slider-list {
  @include reset-list;
}

.example__illustration-toggle {
  display: flex;
  justify-content: center;
}

.example__illustration-button {
  border-style: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  background-color: inherit;
  cursor: pointer;
}

.example__img-pro {
  display: none;
}

@media (min-width: $tablet-width) {
  .example {
    background: none;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    padding-bottom: 140px;
  }

  .example__value-wrapper {
    display: flex;
  }

  .example__illustration-list {
    margin: 0 -20px;
    margin-right: auto;
    display: flex;
  }

  .example__illustration-item {
    padding: 0 20px;
  }

  .example__illustration-description {
    background-color: $color-white;
  }

  .example__illustration-price {
    flex-direction: column;
    text-align: right;
    margin: 0;
    padding-top: 10px;
    padding-left: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .example__illustration-value {
    font-size: 30px;
  }

  .example__illustration-description {
    font-size: 14px;
    padding: 0 5px;
    margin: 0 30px;
    bottom: -4px;
  }

  .example__illustration-description--weight {
    margin: 0 45px;
  }

  .example__illustration-value--border-weight {
    padding: 23px 59px;
  }

  .example__illustration-value--border-day {
    padding: 23px 34px;
  }

  .example__img-slim {
    height: 499px;
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    display: flex;
    align-items: flex-end;
    padding-bottom: 75px;
  }

  .example__value-wrapper {
    flex-direction: column;
  }

  .example__advantages-wrapper {
    /*временно*/
    width: 53%;
  }

  .example__illustration-list {
    padding-bottom: 60px;
  }

  .example__illustration-price {
    text-align: left;
    flex-direction: row;
    padding-top: 0;
  }

  .example__illustration-price--value {
    padding-left: 60px;
  }

  .example__illustration-description {
    padding: 0 8px;
    margin: 0 28px;
    background-color: $color-white;
  }

  .example__illustration-description--weight {
    margin: 0 42px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding-bottom: 70px;
  }

  .example__slider-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .example__slider-item--img {
    padding-bottom: 45px;
  }
}
