.features {
  padding: $padding-item;
  display: flex;
  flex-direction: column;
}

.features__title {
  color: $color-oswald;
  font-size: 36px;
  line-height: 60px;
  font-weight: 500;
}

.features__list {
  @include reset-list;
  padding-left: 80px;
}

.features__item {
  padding-bottom: 20px;
  font-family: $font-ArialMT;
  color: $color-arial;
  font-size: 14px;
  line-height: 18px;
  position: relative;
}

.features__item::before {
  content: "";
  width: 60px;
  height: 60px;
  background-color: #68b738;
  position: absolute;
  left: -80px;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.features__item--sheet::before {
  background-image: url("../img/advantage-leaf@1x.png");
}

.features__item--tank::before {
  background-image: url("../img/advantage-powder@1x.png");
}

.features__item--tableware::before {
  background-image: url("../img/advantage-dining@1x.png");
}

.features__item--clock::before {
  background-image: url("../img/advantage-clock@1x.png");
}
