.features {
  display: flex;
  flex-direction: column;
}

.features__title {
  color: $color-black-font;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -0.9px;
  font-weight: 500;
  margin: 3px 0 25px;
}

.features__list {
  @include reset-list;
  padding-left: 80px;
}

.features__item {
  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-color: $color-green-two;
    position: absolute;
    left: -80px;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
  }
  font-family: $font-ArialMT;
  color: $color-grey-font;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  align-content: center;
}

.features__item--sheet::before {
  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-leaf@2x.png");
    background-size: 50px auto;
  }
  background-image: url("../img/advantage-leaf@1x.png");
}

.features__item--tank::before {
  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-powder@2x.png");
    background-size: 50px auto;
  }
  background-image: url("../img/advantage-powder@1x.png");
}

.features__item--tableware::before {
  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-dining@2x.png");
    background-size: 50px auto;
  }
  background-image: url("../img/advantage-dining@1x.png");
}

.features__item--clock::before {
  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-clock@2x.png");
    background-size: 50px auto;
  }
  background-image: url("../img/advantage-clock@1x.png");
}

.features__text {
  max-width: 260px;
  min-height: 65px;
  position: relative;
  z-index: 2;
}

@media (min-width: $tablet-width) {
  .features__title {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.6px;
    margin-top: 13px;
    margin-bottom: 72px;
  }

  .features__item::before {
    width: 80px;
    height: 80px;
    left: 0;
    top: 0;
  }

  .features__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0;
  }

  .features__text {
    margin-top: 13px;
  }

  .features {
    padding: 0;
  }

  .features__item {
    &::after {
      position: absolute;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 285px;
      top: 88px;
      left: 112px;
      color: $color-bg-light-grey;
      width: 71px;
      height: 228px;
      z-index: 1;
    }
    font-size: 16px;
    line-height: 24px;
    padding-top: 100px;
    //padding-right: 85px;
    padding-bottom: 116px;
    margin-right: 83px;
    max-width: 240px;
    z-index: 2;
  }

  .features__item--sheet {
    &::after {
      content: "1";
    }
  }

  .features__item--tank {
    &::after {
      content: "2";
    }
  }

  .features__item--tableware {
    &::after {
      content: "3";
    }
  }

  .features__item--clock {
    &::after {
      content: "4";
    }
  }
}

@media (min-width: $desktop-width) {
  .features {
    padding-top: 80px;
  }

  .features__item {
    padding-right: 0;
    margin-right: 50px;
    max-width: 245px;
  }

  .features__list {
    justify-content: space-between;
  }

  .features__title {
    margin: 0;
    padding-bottom: 60px;
  }
}
