.footer {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  &:hover .footer__logo-img,
  &:focus .footer__logo-img {
    opacity: 0.8;
  }

  &:active .footer__logo-img {
    opacity: 0.6;
  }
  display: flex;
  justify-content: center;
  padding: 41px 0 33px;
}

.footer__social {
  background-color: $color-grey-focus;
}

.footer__social-list {
  @include reset-list;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $color-grey-border;
  padding-right: 9px;
}

.footer__social-item {
  font-size: 0;
  line-height: 0;
  margin: 0 19px;
  padding: 21px 0;
}

.footer__academy {
  border-top: 1px solid $color-grey-border;
  padding: 22px 0;
}

.footer__academy-name {
  color: $color-grey-font;
  font-family: $font-ArialMT;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
}

.footer__social-img {
  fill: $color-brownish-grey;
}

.footer__social-link {
  &:hover .footer__social-img,
  &:focus .footer__social-img {
    fill: $color-green-two;
  }

  &:active .footer__social-img {
    opacity: 0.3;
  }
}

.footer__academy-img {
  fill: $color-brownish-grey;
  width: 35px;
}

.footer__academy-link {
  &:hover .footer__academy-img,
  &:focus .footer__academy-img {
    fill: $color-green-two;
  }

  &:active .footer__academy-img,
  &:active .footer__academy-name {
    opacity: 0.3;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .footer {
    padding: 0;
  }

  .footer__social {
    background-color: $color-bg-light-grey;
  }

  .footer__social-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0 40px;
  }

  .footer__academy-name {
    padding-right: 20px;
  }

  .footer__social-item {
    margin: 0 15px;
  }

  .footer__logo,
  .footer__academy {
    padding: 0;
    border: none;
  }

  .footer__social-list {
    border: none;
    padding-top: 3px;
    padding-left: 25px;
    padding-right: 0;
  }

  .footer__social-img--vk {
    width: 30px;
    height: 16px;
  }

  .footer__social-img--inst {
    width: 23px;
    height: 23px;
  }

  .footer__social-img--fb {
    width: 14px;
    height: 28px;
  }
}

@media (min-width: $desktop-width) {
  .footer__social-wrapper {
    padding: 39px 0 36px;
  }

  .footer__social-list {
    border: none;
    padding-left: 24px;
    padding-right: 0;
  }
}
