.footer {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  display: flex;
  justify-content: center;
  padding: 40px 0 30px 0;
}

.footer__social-list {
  @include reset-list;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $color-grey-border;
}

.footer__social-item {
  font-size: 0;
  line-height: 0;
  margin: 0 17px;
  padding: 20px 0;
}

.footer__academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $color-grey-border;
  padding: 22px 0;
}

.footer__academy-name {
  color: $color-grey-font;
  font-family: $font-ArialMT;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
}

.footer__social-img {
  fill: $color-brownish-grey;
}

.footer__academy-img {
  fill: $color-brownish-grey;
}

@media (min-width: $tablet-width) {
  .footer {
    padding: 0;
  }

  .footer__social {
    background-color: $color-bg-light-grey;
  }
}

@media (min-width: $tablet-width) {
  .footer__social-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 30px;
  }

  .footer__logo,
  .footer__social-item,
  .footer__academy,
  .footer__social-list {
    padding: 0;
    border: none;
  }
}
