.more-products {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: stretch;
}

.more-products__plus {
  cursor: pointer;
  padding: 25px 0 25px;
}

.more-products__plus--nomobil {
  display: none;
}

.more-products__button-link {
  &:hover,
  &:focus {
    background-color: $color-grey-focus;
  }

  &:active {
    color: $color-more-button;
  }
  color: $color-black;
  background-color: $color-bg-light-grey;
  padding: 10px 0;
  min-width: 280px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.more-products__title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 8px;
}

.more-products__description {
  font-family: $font-ArialMT;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .more-products-wrapper {
    background-color: $color-white;
    border: 1px solid $color-more-products-border;
    padding: 0 37px 0 36px;
    max-width: 324px;
  }

  .more-products__plus {
    display: none;
  }

  .more-products__plus--nomobil {
    display: block;
    padding-top: 55px;
    padding-bottom: 50px;
  }

  .more-products__title {
    color: $color-black-font;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    padding-bottom: 24px;
    padding-right: 46px;
    padding-left: 46px;
  }

  .more-products__description {
    color: $color-grey-font;
    text-align: center;
    font-size: 16px;
    padding-bottom: 84px;
    max-width: 180px;
  }

  .more-products__button-link {
    margin-bottom: 40px;
    color: $color-black-font;
    min-width: inherit;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .more-products-wrapper {
    width: 245px;
    background-color: $color-white;
    border: 1px solid $color-more-products-border;
    padding: 0 37px 0 36px;
  }

  .more-products__title {
    padding-right: 0;
    padding-left: 0;
    width: 170px;
  }

  .more-products__description {
    padding-bottom: 90px;
  }
}
