.more-products {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: stretch;
}

.more-products__plus {
  cursor: pointer;
}

.more-products__button-link {
  background-color: #f2f2f2;
  padding: 10px 0;
  min-width: 280px;
  text-align: center;
  text-transform: uppercase;
}

.more-products__title {
  font-size: 16px;
  font-weight: 400;
}

.more-products__description {
  font-family: $font-ArialMT;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .more-products {
    padding-top: 70px;
    background-color: white;
    border: 1px solid #d9d9d9;
  }
}

@media (min-width: $tablet-width) {
  .more-products__plus {
    padding-bottom: 65px;
  }
}

@media (min-width: $tablet-width) {
  .more-products__title {
    color: $color-oswald;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 30px;
    padding-right: 48px;
    padding-left: 48px;
  }
}

@media (min-width: $tablet-width) {
  .more-products__description {
    color: $font-ArialMT;
    text-align: center;
    font-size: 16px;
    padding-bottom: 35px;
    max-width: 180px;
  }
}

@media (min-width: $tablet-width) {
  .more-products__button-link {
    margin-bottom: 38px;
    color: $color-oswald;
  }
}
