.more-products {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: stretch;
}

.more-products__plus {
  cursor: pointer;
}

.more-products__button-link {
  background-color: #f2f2f2;
  padding: 10px 0;
  min-width: 280px;
  text-align: center;
  text-transform: uppercase;
}

.more-products__title {
  font-size: 16px;
  font-weight: 400;
}

.more-products__description {
  font-family: $font-ArialMT;
  font-size: 12px;
  line-height: 16px;
}
