.page-header {
  position: relative;
}

.page-header__nav-header {
  color: $color-oswald;
  background-color: #ffffff;
  display: flex;
  padding: 0 20px;
}

.page-header__logo-link {
  margin-right: auto;
}

.page-header__logo-img {
  padding-top: 11px;
  padding-bottom: 11px;
}

.page-header__toggle {
  border-style: none;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .page-header__nav-header {
    padding-left: 30px;
    padding-right: 0;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__logo-img {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: absolute;
    width: 100%;
    max-width: 1220px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
  }

  .page-header__nav-header {
    padding: 0;
  }
}
