.product {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.product__title {
  margin: 0;
  color: $color-black;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding-right: 70px;
  padding-bottom: 5px;
}

.product__description {
  display: flex;
  flex-direction: column;
  color: $color-grey-font;
  font-family: $font-ArialMT;
  font-size: 12px;
  line-height: 16px;
}

.product__description-wrapper {
  display: flex;
  justify-content: space-between;
}

.product__description-name {
  margin: 0;
}

.product__description-value {
  margin: 0;
}

.product__wrapper-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product__button {
  text-align: center;
  padding: 10px 0;
}

@media (min-width: $tablet-width) {
  .product {
    flex-direction: column;
    background-color: $color-bg-light-grey;
    padding: 0 40px;
  }

  .product__img-link {
    background-color: $color-bg-light-grey;
    text-align: center;
  }

  .product__img {
    display: none;
  }

  .product__title {
    color: $color-black-font;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    padding: 40px 40px 30px 40px;
  }

  .product__button {
    margin: 30px 40px 40px 40px;
  }

  .product__description-wrapper {
    font-size: 16px;
    line-height: 16px;
    color: $color-grey-font;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-grey-border;
  }
}

@media (min-width: $desktop-width) {
  .product__img {
    display: none;
  }

  .product-catalog__list {
    display: flex;
  }

  .product__title {
    padding: 40px 0 30px 0;
  }
}
