.product-catalog__title {
  color: #111111;
  font-size: 36px;
  line-height: 60px;
  border-bottom: 1px solid #d9d9d9;
  padding: $padding-container;
  margin: 0;
}

.product-catalog__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.product-catalog__item {
  border-bottom: 1px solid #d9d9d9;
  padding: 25px 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
