.product-catalog__title {
  color: $color-black-font;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin: 0;
  padding: 16px 20px 27px;
}

.product-catalog__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  border-top: 1px solid $color-bg-light-grey;
}

.product-catalog__item {
  border-bottom: 1px solid $color-bg-light-grey;
}

.product-catalog__item-wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .product-catalog__title {
    font-size: 60px;
    line-height: 60px;
    border: none;
    padding: 51px 0 165px 0;
  }

  .product-catalog__item-wrapper {
    background-color: $color-bg-light-grey;
    max-width: 324px;
    padding-top: 125px;
    padding-bottom: 0;
  }

  .product-catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -30px;
  }

  .product-catalog__item {
    margin-bottom: 140px;
    border: none;
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .product-catalog__list {
    margin: 0 -40px;
    border: none;
  }

  .product-catalog__item {
    padding: 0 40px;
  }

  .product-catalog__item-wrapper {
    max-width: 245px;
  }

  .product-catalog__title {
    padding-top: 188px;
  }
}
