.product-catalog__title {
  color: $color-oswald;
  font-size: 36px;
  line-height: 60px;
  border-bottom: 1px solid #d9d9d9;
  padding: $padding-item;
  margin: 0;
}

.product-catalog__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
}

.product-catalog__item {
  border-bottom: 1px solid #d9d9d9;
  padding: 25px 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
