.product {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.product__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  padding-right: 70px;
  padding-bottom: 5px;
}

.product__title-link {
  color: $color-black;
}

.product__description {
  display: flex;
  flex-direction: column;
  color: $color-grey-font;
  font-family: $font-ArialMT;
  font-size: 12px;
  line-height: 16px;
}

.product__description-wrapper {
  display: flex;
  justify-content: space-between;
}

.product__description-name {
  margin: 0;
}

.product__description-value {
  margin: 0;
}

.product__wrapper-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product__button {
  text-align: center;
  padding: 10px 0;
  margin: 0 20px;
}

@media (min-width: $tablet-width) {
  .product {
    flex-direction: column;
    background-color: $color-bg-light-grey;
    padding: 0 38px 0 37px;
  }

  .product__img-link {
    background-color: $color-bg-light-grey;
    text-align: center;
    position: relative;
    width: 324px;
  }

  .product__img {
    position: absolute;
    width: 324px;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  .product__title {
    color: $color-black-font;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    padding: 39px 45px 20px 45px;
  }

  .product__button {
    margin: 30px 38px 40px 37px;
  }

  .product__description-wrapper {
    font-size: 16px;
    line-height: 16px;
    color: $color-grey-font;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid $color-grey-border;
  }
}

@media (min-width: $desktop-width) {
  .product__img {
    position: absolute;
    width: 245px;
    bottom: 0;
    left: 40px;
  }

  .product__wrapper-text {
    width: 170px;
  }

  .product__title {
    padding: 38px 5px 28px 5px;
  }
}
