.programs-selection__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin-top: 14px;
  margin-bottom: 25px;
}

.programs-selection {
  padding-bottom: 34px;
}

@media (min-width: $tablet-width) {
  .programs-selection__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    padding-top: 52px;
    padding-bottom: 53px;
  }
}

@media (min-width: $desktop-width) {
  .programs-selection {
    padding-top: 137px;
    padding-bottom: 14px;
  }
}
