.program-form__description {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.program-form__list {
  @include reset-list;
}

.program-form__item {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 15px;
}

.program-form__name {
  @include reset-fieldset;
  border-bottom: 1px solid $color-grey-border;
  padding-top: 15px;
  padding-bottom: 10px;
}

.program-form__label {
  text-transform: uppercase;
  margin-right: 13px;
  cursor: pointer;
}

.program-form__label-nickname {
  min-width: 36px;
}

.program-form__label-weight {
  min-width: 63px;
}

.program-form__label-age {
  min-width: 97px;
}

.program-form__input {
  &:hover,
  &:focus {
    outline: none;
    border: 1px solid $color-pinkish-grey;
  }

  &:active {
    border: 2px solid $color-grey-font;
    outline: none;
    cursor: text;
  }
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $color-black;
  text-transform: uppercase;
  height: 45px;
  border: 1px solid $color-pinkish-grey50;
  padding-left: 13px;
  width: 100%;
}

.program-form__input--error {
  border: 2px solid $color-input-error;
}

.program-form__list-radio {
  @include reset-list;
}

.program-form__item-radio {
  padding-bottom: 26px;
  display: flex;
  align-items: center;
  position: relative;
}

.program-form__input-radio {
  @include hidden;
}

.program-form__label-radio {
  .program-form__input-radio + &::before {
    content: "";
    width: 30px;
    height: 30px;
    background-color: $color-white;
    border: 1px solid $color-pinkish-grey;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    left: 0;
  }

  .program-form__input-radio:active + &::before {
    border: 1px solid $color-radio-border;
    opacity: 0.3;
  }

  .program-form__input-radio:hover + &::before,
  .program-form__input-radio:focus + &::before {
    border: 1px solid $color-radio-border;
  }

  .program-form__input-radio:active + & {
    color: $color-input-radio-active;
  }

  .program-form__input-radio:checked + &::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: $color-green-two;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 9px;
  }

  .program-form__input-radio:active + &::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: $color-green-two;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 9px;
    opacity: 0.3;
  }
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 46px;
  cursor: pointer;
}

.program-form__task {
  @include reset-fieldset;
  border-bottom: 1px solid $color-grey-border;
  padding-top: 21px;
}

.program-form__contacts {
  @include reset-fieldset;
  padding-bottom: 10px;
}

.program-form__contacts-list {
  @include reset-list;
}

.program-form__contacts-title {
  font-size: 24px;
  line-height: 24px;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  max-width: 221px;
}

.program-form__contacts-item {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 15px;
}

.program-form__contacts-label {
  text-transform: uppercase;
  margin-right: 10px;
  cursor: pointer;
}

.program-form__contacts-label--phone {
  min-width: 50px;
}

.program-form__contacts-input {
  &:hover,
  &:focus {
    outline: none;
    border: 1px solid $color-pinkish-grey50;
  }

  &:active {
    border: 2px solid $color-black-font;
    outline: none;
  }
  height: 45px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $color-black;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid $color-pinkish-grey;
  width: 100%;
  padding-left: 15px;
  z-index: 1;
}

.program-form__contacts-icon {
  .program-form__contacts-input:hover + & {
    cursor: pointer;
  }

  .program-form__contacts-input:active + &,
  .program-form__contacts-input:focus + & {
    fill: $color-green-two;
  }
  position: absolute;
  width: 21px;
  height: 21px;
  top: 12px;
  right: 15px;
  z-index: 2;
  cursor: pointer;
}

.program-form__contacts-icon--mail {
  width: 18px;
  height: 14px;
  top: 15px;
}

.program-form__contacts-input--error {
  & + .program-form__contacts-icon {
    fill: $color-input-error;
  }
  border: 2px solid $color-input-error;
}

.program-form__comment {
  @include reset-fieldset;
  margin-top: -24px;
}

.program-form__comment-title {
  font-size: 24px;
  line-height: 24px;
  padding-top: 27px;
  padding-bottom: 29px;
  max-width: 160px;
}

.program-form__comment-input {
  &:hover,
  &:focus {
    outline: none;
    border: 1px solid $color-black-font;
  }
  width: 100%;
  height: 150px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $color-black-font;
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;
  border: 1px solid $color-pinkish-grey50;
}

.program-form__list-checkbox {
  @include reset-list;
}

.program-form__additionally {
  @include reset-fieldset;
  padding-bottom: 15px;
}

.program-form__additionally-title {
  font-size: 24px;
  line-height: 24px;
  padding-top: 30px;
  padding-bottom: 29px;
  margin-bottom: 5px;
  max-width: 185px;
}

.program-form__item-checkbox {
  position: relative;
  padding-bottom: 22px;
}

.program-form__input-checkbox {
  @include hidden;
}

.program-form__label-checkbox {
  .program-form__input-checkbox + &::before {
    content: "";
    width: 30px;
    height: 30px;
    border: 1px solid $color-pinkish-grey50;
    position: absolute;
    top: -5px;
    left: 0;
    z-index: 1;
  }

  .program-form__input-checkbox:checked + &::after {
    content: "";
    width: 22px;
    height: 17px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 2px;
    left: 4px;
    z-index: 2;
  }

  .program-form__input-checkbox:hover + &::before,
  .program-form__input-checkbox:focus + &::before {
    border: 1px solid $color-pinkish-grey;
  }

  .program-form__input-checkbox:active + &::after,
  .program-form__input-checkbox:active + &::before {
    opacity: 0.3;
  }

  .program-form__input-checkbox:active + & {
    color: $color-input-radio-active;
  }
  line-height: 18px;
  padding-left: 46px;
  text-transform: uppercase;
  cursor: pointer;
}

.program-form__button {
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.program-form__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.program-form__small {
  font-family: "ArialMT", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: $color-black-font;
  padding-top: 22px;
}

.program-form__fieldset {
  &::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: $color-bg-green;
    position: absolute;
    top: 41px;
    z-index: 1;
  }
  position: relative;
  z-index: 1;
}

.program-form__legend {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 6px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: $color-white;
  z-index: 2;
  position: relative;
}

@media (min-width: $tablet-width) {
  .program-form__description {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    padding-bottom: 70px;
  }

  .program-form__name {
    border: none;
    padding-bottom: 55px;
  }

  .program-form__task {
    border: 1px solid $color-pinkish-grey50;
    margin: 0 9.1%;
    margin-bottom: 50px;
  }

  .program-form__list-radio {
    margin-left: -40px;
  }

  .program-form__label {
    font-size: 20px;
    margin-right: 15px;
  }

  .program-form__label-nickname {
    min-width: 45px;
  }

  .program-form__label-weight {
    min-width: 75px;
  }

  .program-form__label-age {
    min-width: 118px;
  }

  .program-form__input {
    &::placeholder {
      color: $color-grey-font;
    }
    font-size: 20px;
    line-height: 20px;
    height: 52px;
    padding-left: 20px;
  }

  .program-form__item {
    padding-bottom: 20px;
  }

  .program-form__label-radio {
    .program-form__input-radio + &::before {
      content: "";
      width: 40px;
      height: 40px;
      top: -9px;
      left: 0;
    }

    .program-form__input-radio:checked + &::after {
      content: "";
      width: 18px;
      height: 18px;
      top: 2px;
      left: 11px;
    }
    font-size: 20px;
    line-height: 20px;
    padding-left: 60px;
  }

  .program-form__item-radio {
    padding-bottom: 35px;
  }

  .program-form__contacts-list {
    padding-top: 40px;
  }

  .program-form__contacts-item {
    padding-bottom: 20px;
  }

  .program-form__contacts-label {
    font-size: 20px;
    line-height: 20px;
    margin-right: 15px;
  }

  .program-form__contacts-label--phone {
    min-width: 64px;
  }

  .program-form__contacts-input {
    &::placeholder {
      color: $color-grey-font;
    }
    height: 52px;
    font-size: 20px;
    line-height: 20px;
    padding-left: 20px;
  }

  .program-form__contacts-icon {
    top: 15px;
    right: 15px;
  }

  .program-form__contacts-icon--mail {
    top: 19px;
    right: 19px;
  }

  .program-form__comment-input {
    &::placeholder {
      color: $color-grey-font;
    }
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    margin-top: 40px;
    padding-left: 20px;
    height: 174px;
  }

  .program-form__list-checkbox {
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
  }

  .program-form__item-checkbox {
    min-width: 300px;
    padding-bottom: 50px;
  }

  .program-form__label-checkbox {
    .program-form__input-checkbox + &::before {
      width: 40px;
      height: 40px;
      top: -9px;
      left: 0;
    }

    .program-form__input-checkbox:checked + &::after {
      width: 21px;
      height: 16px;
      top: 2px;
      left: 10px;
    }
    font-size: 20px;
    line-height: 20px;
    padding-left: 60px;
  }

  .program-form__button-wrapper {
    flex-direction: row;
    width: 100%;
    padding-bottom: 70px;
  }

  .program-form__button {
    width: 50%;
    margin-right: 62px;
  }

  .program-form__small {
    width: 50%;
    padding-top: 0;
    font-size: 16px;
    line-height: 16px;
  }

  .program-form__contacts-title {
    font-size: 36px;
    line-height: 36px;
    max-width: 595px;
  }

  .program-form__comment-title {
    font-size: 36px;
    line-height: 36px;
    max-width: 260px;
  }

  .program-form__additionally-title {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 35px;
    margin-bottom: 5px;
    max-width: 290px;
  }

  .program-form__fieldset {
    &::after {
      top: 50px;
    }
  }

  .program-form__legend {
    padding-right: 40px;
    padding-left: 40px;
    margin-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .program-form__name-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 0 7.64%;
  }

  .program-form__name {
    width: 50%;
    border: none;
    margin-right: 40px;
    padding: 0;
  }

  .program-form__task {
    margin: 0;
    width: 50%;
    border: 1px solid $color-pinkish-grey50;
    margin-left: 40px;
  }

  .program-form__item-radio {
    margin-left: 70px;
  }

  .program-form__contacts-title {
    max-width: 595px;
  }

  .program-form__comment-title {
    max-width: 260px;
  }

  .program-form__additionally-title {
    max-width: 290px;
  }

  .program-form__contacts-list {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .program-form__contacts-item {
    width: 50%;
  }

  .program-form__item--phone {
    margin-right: 80px;
  }

  .program-form__button-wrapper {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-bottom: 70px;
  }

  .program-form__button {
    width: 50%;
    margin-right: 80px;
  }

  .program-form__small {
    width: 50%;
    padding-top: 0;
    font-size: 16px;
    line-height: 16px;
  }

  .program-form__legend {
    margin-left: 70px;
  }
}
