.site-container {
  margin: 0 auto;
  min-width: 340px;
  /*проставь паддинги везде*/
}

@media (min-width: $tablet-width) {
  .site-container {
    margin: 0 auto;
    min-width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .site-container {
    margin: 0 auto;
    min-width: 1440px;
  }
}
