.site-container {
  margin: 0 auto;
  min-width: 340px;
  padding: 0 3%;
}

@media (min-width: $tablet-width) {
  margin: 0 auto;
  min-width: 768px;
  padding: 0 5%;
}

@media (min-width: $desktop-width) {
  margin: 0 auto;
  min-width: 1440px;
  padding: 0 10%;
}
