*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  /*Нужно ли?*/
  min-width: 320px;
}

a {
  text-decoration: none;
}

$mobil-width: 320px;
$mobil-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
$font-ArialMT: "ArialMT", "Arial", sans-serif;
$padding-item: 0 20px;
$color-bg-green: #5eaa2f;
$color-green-two: rgb(104, 183, 56);
$green-two60: rgba(104, 183, 56, 0.6);
$green-two30: rgba(104, 183, 56, 0.3);
$color-black: #111111;
$color-black-font: rgb(17, 17, 17);
$black-font60: rgba(17, 17, 17, 0.6);
$black-font30: rgba(17, 17, 17, 0.3);
$color-black-two: #222222;
$color-grey-font: #444444;
$color-brownish-grey: #666666;
$color-pinkish-grey: #cdcdcd;
$color-pinkish-grey50: rgba(205, 205, 205, 0.5);
$color-scale-grey: #dcdcdc;
$color-more-products-border: #d9d9d9;
$color-bg-light-grey: #f2f2f2;
$color-grey-border: #cdcdcd;
$color-grey-focus: #ebebeb;
$color-radio-border: #bababa;
$color-white: rgb(255, 255, 255);
$white60: rgba(255, 255, 255, 0.6);
$white30: rgba(255, 255, 255, 0.3);
$color-input-error: #ff8282;
$retina-dppx: 1.5dppx;

@import "fonts";
@import "mixins";
@import "blocks/visually-hidden";
@import "blocks/button";
@import "blocks/main-nav";
@import "blocks/main-page";
@import "blocks/main-program";
@import "blocks/additional-card";
@import "blocks/additional-products";
@import "blocks/advantages";
@import "blocks/collaboration";
@import "blocks/example";
@import "blocks/features";
@import "blocks/hero";
@import "blocks/main-catalog";
@import "blocks/more-products";
@import "blocks/product";
@import "blocks/product-catalog";
@import "blocks/program-form";
@import "blocks/programs-selection";
@import "blocks/site-navigation";
@import "blocks/footer";
@import "blocks/container";
